{% extends "base.html" %}

{% block title %}Add Category | Freelancer Budget Tracker{% endblock %}

{% block content %}
<div class="container page-content">
    <h2 class="mb-4">Add Category</h2>
    <div class="card mt-5">
            <div class="card-body">

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Please correct the errors below.
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="invalid-feedback d-block" role="alert">
                            {{ form.name.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.type.id_for_label }}" class="form-label">Type</label>
                    {{ form.type }}
                    {% if form.type.errors %}
                        <div class="invalid-feedback d-block" role="alert">
                            {{ form.type.errors }}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-success">
                    Save Category
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
