{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Categories</h2>

    <a href="{% url 'add_category' %}" class="btn btn-success mb-3">
        Add Category
    </a>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.type }}</td>
                <td class="d-flex gap-2">
                    <a href="{% url 'edit_category' category.id %}"
                       class="btn btn-primary btn-sm me-2"
                       aria-label="Edit category {{ category.name }}">
                        Edit
                    </a>
                    <a href="{% url 'delete_category' category.id %}" 
                       class="btn btn-danger btn-sm"
                       aria-label="Delete category {{ category.name }}">
                        <i class="fas fa-trash"></i> Delete
                     </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Add your first category.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}