{% extends "base.html" %}

{% block content %}

<h2>Categories</h2>

<a href="{% url 'add_category' %}" class="btn btn-success">Add Category</a>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.type }}</td>
            <td>
            <a href="{% url 'edit_category' category.id %}" class="btn btn-primary btn-sm me-2">
                Edit
            </a>
            <a href="{% url 'delete_category' category.id %}" class="btn btn-danger btn-sm">
                Delete
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Add your first category.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}